.toolbar-bg {
  background-color: rgb(164, 164, 172);
  color: rgb(42, 42, 42);
}

.toolbar-title {
  color: white;
}

.toolbar-username {
  color: white;
}

.expanded-toolbar {
  justify-content: space-between;
  align-items: center;
  font-size: medium;
}
