.bg-sidenav {
  background-color: darkgreen;
  color: white;
}

.bg-selected-item{
  background-color: lightblue;
  color: darkblue;
}

.item-display {
  display: grid;
  grid-template-columns: 1fr 2fr;
}


.tickets-container-header{
  background-color: darkgreen;
  color: white;
}
