<div class="card text-white bg-primary">
  <div class="card-body">

    <p class="">
      {{mainDashboardLocal.mainDashboardStoreQty | number:'0.0'}}
      <span>Tiendas</span></p>

    <p class="">
      {{mainDashboardLocal.mainDashboardStoreQty | number:'0.0'}}
      <span>Calculadas</span> -
      {{mainDashboardLocal.mainDashboardUncalculatedQty | number:'0.0'}}
      <span>Sin Calcular</span></p>

    <p class="">
      {{mainDashboardLocal.mainDashboardAcceptedQty | number:'0.0'}}
      <span>Aceptadas</span> -
      {{mainDashboardLocal.mainDashboardPendingQty | number:'0.0'}}
      <span>Pendientes</span></p>

  </div>
</div>
