/* You can add global styles to this file, and also import other style files */
// Imports functions, variables, and mixins that are needed by other Bootstrap files

// Bootstrap
@import "./styles/bootstrap-compatibility/variables";
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";
// Import Bootstrap Reboot
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
@import "~bootstrap/dist/css/bootstrap.min";
@import "./styles//bootstrap-compatibility/reset";


// Application
@import "./styles/app/app.scss";


//  Angular Material
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: whitesmoke;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
